{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о новостях!" }} </h3>

   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Автор</td>
               <td>Название</td>
               <td>Категория</td>
               <td>Пост</td>
           </tr>

<!--           {% for new in news %}-->
<!--           <tr>-->
<!--               <td>{{ news.title }}</td>-->
<!--               <td>{{ news.text|truncatewords:6 }}</td>-->
<!--               <td>{{ news.postCategory.name }}</td>-->
<!--               <td>{{ news.rating }}</td>-->
<!--               <td>{{ news.dateCreation }}</td>-->
<!--           </tr>-->
<!--           {% endfor %}-->

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}