{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}{{post.title|censor}}{% endblock title %}
{% block content %}
<h1>{{post.title|censor}}</h1>
<p>{{post.author.user.username}}</p>
<p>{{post.created|date:'d.m.Y'}}</p>
<p>{{post.text|censor}}</p>
<a href="{{post.id}}/update">Редактировать</a>
&nbsp;
<a href="{{post.id}}/delete">Удалить</a>
</hr>
<table cellpadding="12">
    <tr class=title>
        <td>Дата</td>
        <td>Рейтинг</td>
        <td>Автор</td>
        <td>Комментарий</td>
    </tr>
    {% for c in post.comment_set.all %}
    <tr>
        <td>{{c.created|date:'d.m.Y'}}</td>
        <td>{{c.rating}}</td>
        <td>{{c.user.username}}</td>
        <td>{{c.text|censor}}</td>
    </tr>
    {%endfor%}
</table>

{% endblock content %}