{% extends 'flatpages/default.html' %}

<!--{% load custom_filters %}-->
<!--{% load custom_tags %}-->

{% block title %}
список новостей
{% endblock title %}

{% block content %}
<h2>список новостей</h2>
<h1>{{post.title}}</h1>
<p>{{post.text}}</p>
<p>{{post.dateCreation}}</p>

<!--<a href="{{post.id}}/update">Редактировать</a>-->
<!--&nbsp;-->
<!--<a href="{{post.id}}/delete">Удалить</a>-->
</hr>
<table cellpadding="12">
    <tr class=title>
        <td>Заголовок</td>
        <td>Дата</td>
        <td>Предпросмотр</td>
    </tr>

</table>

{% endblock content %}