{% extends 'default.html' %}

{% block title %} Все категории {% endblock title %}

{% block content %}
    {% if category.id %}
        <div class="subscribe">
            <em>
              Подписаться на
              <strong>{{ category }}?</strong>
            </em>

            <a href="{#% url 'news:subscribe' category.id %#}" class="button button-outline">
              Подписаться
            </a>
        </div>
    {% endif %}

{% include 'news/inc/posts.html' %}

{% endblock content %}